.avatar img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.post {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}
.message {
    padding-left: 30px;
    font-size: 20px;
}
.likes {
    color: red;
    font-weight: 700;
    font-size: 20px;
}