.avatar img {
    width: 100px;
    height: auto;
}
.post {
    display: flex;
    align-items: center;
}
.message {
    padding-left: 30px;
    font-size: 20px;
}
.likes {
    color: red;
    font-weight: 700;
    font-size: 20px;
}