.main {
    padding: 10px;

}

.wall_post {
    padding: 15px;
    margin: 10px;

}

.avatar {
    width: 150px;
    height: 150px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: flex-start;*/
    padding: 5px;
    width: 60%;
}
.profile span {
    padding: 5px 5px 5px 0;
}
.label {
    color: #003366;
    font-weight: 700;
}
.confirmBtn {
    margin-left: 51%;
    width: 48%;
}
