.header {
	grid-area: header;
	background: #001a33	;
  }
  .header img {
	height: auto;
	width: 100px;
	padding-left: 20px;
  }
  .login {
	  float: right;
      padding: 15px;
  }
  header div {
	  color: white;
  }
  