.header {
	grid-area: header;
	background: #4c75a3	;
  }
  .header img {
	height: 55px;
	width: 55px;
	padding-left: 20px;
  }
  .login {
	  float: right;
      padding: 15px;
  }
  header div {
	  color: white;
  }
  