.form {
    max-width: 200px;
    margin: 5% auto 0 auto;
    padding: 0 15px;
}
.form div {
    margin: 10px 0;
}
.form input {
    padding: 7px 5px;
    border: none;
    border-radius: 3px;
}
.form button {
    padding: 10px 30px;
    background: #4c75a3;
    border: none;
    border-radius: 3px;
    color: #fff;
}
.form button:hover {
    background: #4c85c0;
}