body {
  font-family: 'Roboto';
}
.app-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 2fr 5fr 5fr;
  grid-template-areas: 
    "header header header"
    "nav main main"
    "nav main main";
}
.content-wrapper {
	grid-area: main;
	background: #eaeaea;
	height: auto;
	width: 100%;
	background-size: cover;
  }
  .content-wrapper img {
	  width: auto;
	  height: 20rem;
	  
  }