.nav {
	grid-area: nav;
	background:#003366;
	height: 85vh;
  }
.menu > li {
	list-style: none;
	text-transform: uppercase;
	padding: 5px 0;
  }
.nav a {
	color: goldenrod;
	text-decoration: none;
}
.nav .active {
	color: #fff;
}
