.nav {
	grid-area: nav;
	background:#003366;
	height: 85vh;
  }
.menu > li {
	list-style: none;
	text-transform: uppercase;
	padding: 5px 0;
  }
.nav a {
	color: goldenrod;
	text-decoration: none;
}
.nav .active {
	color: #fff;
}
.friends {
	text-align: center;
	color: goldenrod;
	font-size: 16px;
}
.lable {
	text-transform: uppercase;
}
.friend {
	display: flex;
	align-items: center;
	color: goldenrod;
	font-size: 16px;
}
.friend img {
	margin: 15px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}